@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: "Vazirmatn", Tahoma, sans-serif;
    background: linear-gradient(#8ed6ff, #fff6c9);
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    background: white;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
    color: #ff7b00;
    font-size: 30px;
}

.title {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
    color: #444;
}

input {
    width: 90%;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid #8bd450;
    font-size: 20px;
    text-align: center;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

#startBtn,
#nextBtn {
    margin-top: 25px;
    background: #ff9f1c;
    color: white;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    background: #e7f8ff;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
}

.question {
    margin: 30px 0;
    font-size: 30px;
    font-weight: bold;
    color: #5b2c6f;
}

#targetNumber {
    color: #e91e63;
    font-size: 45px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    direction: ltr;
}

.option {
    background: #7ed957;
    color: white;
    padding: 20px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.05);
}

.correct {
    background: #2ecc71 !important;
}

.wrong {
    background: #e74c3c !important;
}

#message {
    height: 40px;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}

#finishPage h1 {
    color: #e91e63;
}

footer {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    font-size: 18px;
}